#nav-bar{
	height: 4.5rem;
	overflow: hidden;
	top: 0;
	position: fixed;
	width: 100%;
	background-color: #00a087;
	color: #e8fdff;
	padding: 0 2rem;
	font-size: 2.5rem;
	z-index: 1;
	display:flex;
}
#nav-bar .logo{
	width: 4.5rem;
	height: 4.5rem;
	float: left;
}

#nav-bar .header{
	width: 4.5rem;
	line-height: 4.5rem;
	text-align: center;
	float: left;
}

#nav-bar .compose{
	font-size: 1rem;
	padding: 1rem 2rem;
	margin-left:auto;
}

#composeIMG {
	width: 0.75rem;
	height: 0.75rem;
}

#composeButton:hover, #composeButton:active{
	color: white;
	background: green;
}

#composeButton{
	border: 0.1rem solid black;
	padding: 0.5rem;
	border-radius: 0.5rem;
	
}