.new-tweet{
  margin: 2em;
  padding: 0.5% 2%;
  border: 2px solid grey;
  border-radius: 10px;
  background: rgb(240, 240, 240);
}

.new-tweet h2 {
  border-bottom: 0.0625rem solid black;
  text-align: left;
  font-weight: 700;
}

.new-tweet form{
  margin: 1rem auto;
}
.new-tweet form textarea {
  width: 100%;
  font-style: italic;
  font-size: 1rem;
}

.new-tweet form input {
  left: 2rem;
  font-size: .8em;
}

.new-tweet .bottomBar{
  display:flex;
}
.new-tweet .counter {
  margin-left:auto;
  font-style: italic;;
  font-size: .8em; 
}

.error{
  font-size: 0.8rem;
  margin-left:auto;
  margin-right:auto;
  color:red;
  display:none;
}

.show{
  display:inline-block;
}
